* {
  @include reset;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  transition: 0.4s;
}

// REUSABLE CLASSES
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: #{"min(98%, 500px)"};
  margin-inline: auto;
}

.full-width {
  position: relative;
  height: 100vh;
  overflow-y: auto;
}

.switchDarkMode {
  margin-left: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
  &:active,
  &:focus {
    transform: scale(0.7);
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  &__filter {
    display: flex;
    max-width: 15rem;
    align-items: center;
    gap: 0.5rem;
    margin-left: 5rem;
    flex-grow: 1;
    & input {
      min-width: 2rem;
    }
  }
}
